:root {
  --green: rgb(22, 54, 43);
  --gold: rgba(224, 213, 125, 1) 
}

body {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;   background-color: var(--green);
  color: var(--gold);
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  padding: 20px;
  background-color: #1b1b1b;
  color: rgba(224, 213, 125, 1) ;
  margin: 0;
}

p {
  color: rgba(224, 213, 125, 1) ;
}

#gameList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  gap: 20px; /* Spacing between cards */
  max-width: 1300px;
  margin: 20px auto;
}

.game-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.game-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.game-card-content {
  padding: 10px;
}

.game-card h3 {
  font-size: 18px;
  margin: 0;
}

.game-card p {
  font-size: 14px;
  margin: 5px 0;
}

.game-card .btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.game-card .btn-container a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 4px;
}


header {
  background-size: cover;
  background-position: center;
  background-color: rgba(33, 61, 52, 0.7);
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'The Wild Breath of Zelda', sans-serif;
  color: rgba(224, 213, 125, 1);
  transition: background-color 0.5s, color 0.5s;
}

.site-name {
  font-size: 24px;
  color: rgba(255, 223, 97, 1);
  text-shadow: 0 0 5px rgba(255, 223, 97, 1);
  transition: color 0.5s, text-shadow 0.5s;
}

.site-name:hover {
  color: rgba(255, 239, 158, 1);
  text-shadow: 0 0 10px rgba(255, 239, 158, 1);
  transition: color 0.5s, text-shadow 0.5s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--gold);
  font-weight: bold;
}

a {
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  color: #fff;
  margin-right: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.game-details {
  padding: 20px;
  display: flex;
}

.game-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.game-info {
  margin-left: 20px;
  margin-right: 100px;
}

.game-info h2 {
  font-size: 24px;
  margin: 0;
}

.game-info p {
  margin: 5px 0;
}

#logOut {
  color: var(--gold);
  text-decoration: none;
  margin-top: 40px;
  margin-left: 10px;
}

.game-description {
  margin-top: 20px;
  margin-left: 30px;
}

.game-description h3 {
  font-size: 18px;
  margin: 0;
}

.game-description p {
  margin-top: 5px;
}

#profilePic {
margin-left: 20px;
}

header {
  font-family: 'The Wild Breath of Zelda', sans-serif;        
  color: rgba(224, 213, 125, 1)                                       

}

header a:hover {
  color: rgba(255, 239, 158, 1);
  text-shadow: 0 0 10px rgba(255, 239, 158, 1);
  transition: color 0.5s, text-shadow 0.5s;
}


.game p:hover {
  color: rgba(255, 239, 158, 1);
  text-shadow: 0 0 10px rgba(255, 239, 158, 1);
  transition: color 0.5s, text-shadow 0.5s;
}

.username h2 {
  color: rgba(224, 213, 125, 1)  
}

button {
  position: relative;
  background: #444;
  color: var(--gold);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
  transition: 0.2s;
  margin: 10px;
}

button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  animation: box 3s infinite;
  color: rgba(255, 239, 158, 1);
  text-shadow: 0 0 10px rgba(255, 239, 158, 1);
  transition: color 0.5s, text-shadow 0.5s;
}

